<a href="https://colab.research.google.com/github/twadhwa/ML_Templates/blob/main/Natural_Language_Processing/Natural_Language_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
# Tsv = Tab Seperated Values 
# delimiter = default value is comma but we have to add "\t"
# quoting = 3 ignoring the quotes in the text 
data = pd.read_csv('/content/drive/MyDrive/Machine Learning Data Sets /Natural Language Processing /Restaurant_Reviews.tsv', delimiter = '\t', quoting = 3)

In [3]:
data

                                                Review  Liked
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]

## Cleaning the text

In [22]:
import re
# For removing words that are not useful for predicting the output 
import nltk  
nltk.download('stopwords')
from nltk.corpus import stopwords

# Remove words with similar meaning 
from nltk.stem.porter import PorterStemmer
corpus = []

# Iterating through all the reviews 
for i in range(0, 1000):
  # Review is the cleaned review 
  # 1) Cleaning all puctuation 
  # sub is a function that can replace any thing you want by any thing you want 
  # We are replacing here the anything that is not a word with a space  
  review = re.sub('[^a-zA-Z]', ' ', data['Review'][i])
  # changing all capital letter to lower case 
  review = review.lower()
  # Spliting the reviews in different word 

  review = review.split()
  
  ps = PorterStemmer()

  # Specifying our stopwords 
  all_stopwords = stopwords.words('english')
  
  all_stopwords.remove('not')

  # removing stop words 
  review = [ps.stem(word) for word in review if not word in set(all_stopwords)]
  # Adding the words again 
  review = ' '.join(review)
  corpus.append(review)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

## Creating bag of words models

In [31]:

from sklearn.feature_extraction.text import CountVectorizer
# We still have words like name that do not have relevance for the result prediction 
# Max prediction will remove some extra words and convert 1566 to 1500 
cv = CountVectorizer()
# CV will give us the array of words just like hashing 
X = cv.fit_transform(corpus).toarray()
y = data.iloc[:, -1].values



X.shape

(1000, 1566)

## Splitting the dataset into the Training set and Test set

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

## Training the Naive Bayes model on the Training set

In [45]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
classifier = GaussianNB()
LR = LogisticRegression()
Tree = RandomForestClassifier()

## Predicting the Test set results

In [47]:
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
Tree.fit(X_train,y_train)
LR.fit(X_train,y_train)
y_LR = LR.predict(X_test)
Y_Tree = Tree.predict(X_test)

## Making the Confusion Matrix

In [50]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print("With Naive baise " , accuracy_score(y_test, y_pred))
print("With Logistic Regression " , accuracy_score(y_test, y_LR))
print("With Random Forest " , accuracy_score(y_test, Y_Tree))

With Naive baise  0.73
With Logistic Regression  0.775
With Random Forest  0.745