<a href="https://colab.research.google.com/github/twadhwa/ML_Templates/blob/main/Logistic_Regression/Breast_Cancer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd

In [42]:
data = pd.read_csv("/content/drive/MyDrive/Machine Learning Data Sets /Classification Data /breast_cancer.csv")

In [43]:
data

     Sample code number  Clump Thickness  ...  Mitoses  Class
0               1000025                5  ...        1      2
1               1002945                5  ...        1      2
2               1015425                3  ...        1      2
3               1016277                6  ...        1      2
4               1017023                4  ...        1      2
..                  ...              ...  ...      ...    ...
678              776715                3  ...        1      2
679              841769                2  ...        1      2
680              888820                5  ...        2      4
681              897471                4  ...        1      4
682              897471                4  ...        1      4

[683 rows x 11 columns]

In [44]:
X = data.iloc[:, 1:-1].values 
y = data.iloc[:,-1].values

In [45]:
data = pd.DataFrame(X)
data

     0   1   2  3  4   5   6   7  8
0    5   1   1  1  2   1   3   1  1
1    5   4   4  5  7  10   3   2  1
2    3   1   1  1  2   2   3   1  1
3    6   8   8  1  3   4   3   7  1
4    4   1   1  3  2   1   3   1  1
..  ..  ..  .. .. ..  ..  ..  .. ..
678  3   1   1  1  3   2   1   1  1
679  2   1   1  1  2   1   1   1  1
680  5  10  10  3  7   3   8  10  2
681  4   8   6  4  3   4  10   6  1
682  4   8   8  5  4   5  10   4  1

[683 rows x 9 columns]

In [46]:
from sklearn.model_selection import train_test_split
X_train,X_test ,y_train , y_test = train_test_split(X,y,test_size =0.2)

In [47]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [48]:
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [49]:
y_pred = model.predict(X_test)

In [50]:
from sklearn.metrics import confusion_matrix , accuracy_score 
confusion_matrix (y_test,y_pred)

array([[83,  0],
       [ 4, 50]])

In [51]:
accuracy_score(y_test,y_pred)

0.9708029197080292